doctype html
html(lang="en-US" direction="ltr")
  head
    meta(charset="UTF-8")
    meta(
      name="description"
      content="Just this guy in Des Moines, Iowa"
    )
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    )
    meta(
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    )

    meta(
      name="google-site-verification"
      content="zZ8S_r0B6ZCxgP_yPsKkCxHhirltYL_hS-liqhjjlg8"
    )

    meta(property="og:title" content="Nikhil Anand")
    meta(
      property="og:description"
      content="Just this guy in Des Moines, Iowa"
    )
    meta(property="og:type" content="website")
    meta(property="og:image" content="./assets/favicon.png")
    meta(property="og:url" content="https://nikhil.io/")

    link(rel="stylesheet" href="./styles/index.scss")
    link(rel="shortcut icon" href="./assets/favicon.png" type="image/x-icon")
    link(rel="author" href="./assets/humans.txt")

    title Nikhil Anand &ndash; Des Moines, Iowa

    script(
      async
      defer
      data-domain="nikhil.io"
      src="https://plausible.io/js/plausible.js"
    )
  body
    main
      block content
